FRONTEND_EXPOSE_PORT=3000
FRONTEND_PORT=3000

NGINX_EXPOSE_PORT=80
NGINX_PORT=80

BACKEND_EXPOSE_PORT=8080
BACKEND_PORT=8080
BACKEND_HOST=api
GIN_MODE=debug

DB_EXPOSE_PORT=5432
DB_PORT=5432
DB_DRIVER=postgres
DB_HOST=postgres
DB_USER=username
DB_PASSWORD=password
DB_NAME=best_chat
SSL_MODE=disable

DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_CONN_MAX_LIFE=5

RABBITMQ_EXPOSE_PORT=5672
RABBITMQ_PORT=5672
RABBITMQ_HOST=rabbitmq
RABBITMQ_TOPIC=blockchain-events
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

NEXT_PUBLIC_HOSTNAME=localhost

